name: .NET CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup .NET 8
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0'
    
    # Восстанови зависимости
    - name: Restore dependencies
      run: dotnet restore
    
    # Собери проект
    - name: Build
      run: dotnet build --configuration Release --no-restore
    
    # Запусти тесты с явным указанием фреймворка
    - name: Test
      run: |
        cd Tests/MyWebApi.Tests
        dotnet test --framework net8.0 --verbosity normal